.buttons {
    width: 80%;
}

.menuTitle {
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.menuChips {
    display: block;
    background: #002d71;
    color: white;
    text-align: center;
    padding: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 15px;
    font-size: 13px;
    word-wrap: break-word;
}

.widget .action-button>li {
    position: relative;
    background: #002d71;
    color: white;
    margin-top: 7px !important;
    border: 0;
    font-size: 13px;
    border-radius: 6px !important;
    display: block;
    width: 100%;
    text-transform: capitalize;
}

.widget .action-button-inner {
    color: white;
    clear: right;
    min-width: 50%;
    padding-inline-start: 40px;
}

.widget .action-button-inner>li {
    position: relative;
    background: #002d71;
    color: white;
    margin-top: 7px !important;
    border: 0;
    font-size: 12px;
    border-radius: 6px !important;
    display: block;
    width: 100%;
}

.widget .action-button-inner li {
    background: #EEEEEE !important;
    color: #000 !important;
    font-size: 12px !important;
}

.widget .buttonTmplContentChild {
    color: #3292ff;
    border-top: 1px solid #f2f2f2;
    padding: 7px;
    margin: 0 !important;
    text-align: center;
    cursor: pointer;
    background: white;
}