.botAvatar {
    border-radius: 25%;
    width: 2.5em;
    height: 2.5em;
    float: left;
    margin-left: 5px;
    background-color: white;
}

.botMessage {
    float: left;
    margin-top: 5px;
    background: white;
    color: black;
    margin-left: 0.5em;
    padding: 10px;
    border-radius: 1.5em;
    max-width: 90%;
    min-width: 90%;
    font-size: 15px;
    width: 100%;
    word-wrap: "break-word";
    border-radius: 5px 20px 20px 20px;
}

.botTyping {
    float: left;
    margin-top: 5px;
    background: white;
    color: black;
    margin-left: 0.5em;
    padding: 15px;
    border-radius: 5px 20px 20px 20px;
    max-width: 60%;
    min-width: 20%;
    word-wrap: break-word;
    border-radius: 5px 20px 20px 20px;
}

.botTyping>div {
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    margin-right: 5px;
}

.botTyping .bounce1 {
    -webkit-animation-delay: 0.32s;
    animation-delay: -0.32s
}

.botTyping .bounce2 {
    -webkit-animation-delay: 0.16s;
    animation-delay: -0.16s
}

@-webkit-keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
    }
}

@keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

.chats {
    margin: 0;
    max-height: 75%;
    width: 100%;
    padding: 255px 20px 20px 20px;
    border-radius: 1px;
    overflow-y: auto;
    margin-top: 1px;
}

div.chats>pre {
    font-size: 1em;
    margin: 0 !important;
    white-space: initial !important;
}

div.chats>ul:not(.browser-default) {
    padding-left: 1em;
}

div.chats>ul:not(.browser-default)>li {
    list-style-type: initial;
}

div.chats>span:botMsg>ol {
    list-style-type: initial;
}

.clearfix {
    margin-top: 2px;
    margin-bottom: 2px;
}

.chatbox-header {
    height: 50px;
    border-radius: 10px 10px 0px 0px;
    padding: 5px;
    font-size: 16px;
    cursor: move;
}

.chatbox-header-title {
    color: white;
    margin-top: 2%;
    display: inline-block;
    font-size: 16px;
    padding-left: 20px;
}

.chatbox-controls {
    display: inline;
    position: absolute;
    right: 1em;
}

.chatbox-controls button {
    cursor: pointer;
    background: none;
    border: none;
    height: 40px;
}

.chatbox-controls button i {
    width: 20px;
    height: 20px;
    display: block;
}

.chatbox-controls button.reload-btn i {
    background-position: -125px -63px;
    background-image: url("../img/refresh.png");
    background-size: contain;
    background-position: center;
    filter: invert(100%);
}

.chatbox-controls button.minimize-btn i {
    background-position: -62px -127px;
    background-image: url("../img/minimize.png");
    background-size: contain;
    background-position: center;
    filter: invert(100%);
}

.chatbox-controls button.expand-btn i {
    background-position: -16px -78px;
    background-image: url("../img/maximize.png");
    background-size: contain;
    background-position: center;
    filter: invert(100%);
}

.chatbox-controls button.close-btn i {
    background-position: -95px -127px;
    background-image: url("../img/close.png");
    background-size: contain;
    background-position: center;
    filter: invert(100%);
}

.chatbox-header-logo .salutation {
    color: white;
    display: block;
    padding-top: 10px;
}

.chatbox-header-logo {
    text-align: center;
    padding: 10px 0px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0px auto;
}

.close-btn .icon {
    font-size: 15px;
    cursor: pointer;
}

.chat-button {
    display: block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 35%;
    border: 2px solid #5B9BD5;
    padding: 6px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 10px;
}

.chat-button div.message {
    background-image: url("../img/chat.png");
    display: inline-block;
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 5px;
}

.extra-info {
    color: white;
    font-size: 12px;
    position: relative;
    margin: 0;
    padding-top: 5px;
    white-space: nowrap;
}

.extra-info-user {
    color: white;
    font-size: 12px;
    position: relative;
    margin: 0;
    padding-top: 5px;
    white-space: nowrap;
    text-align: right;
}

.hidden {
    display: none;
}

.message .tooltiptext {
    visibility: hidden;
    width: 180px;
    background-color: #5B9BD5;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 105%;
}

.message:hover .tooltiptext {
    visibility: visible;
}

.list-close-btn .icon {
    font-size: 15px;
    cursor: pointer;
    float: right;
}

.keypad {
    margin-bottom: 13px;
    width: 100%;
}

.quick-links>a {
    width: 25px;
    height: 25px;
    border-radius: 00%;
    background-size: 25px auto !important;
    float: left;
    margin: 0 5px;
}

.quick-links .feedback-img {
    background: url("../img/feedback.png") center center no-repeat;
    filter: invert(100%);
}

.quick-links .email-img {
    background: url("../img/email.png") center center no-repeat;
    filter: invert(100%);
}

.singleCard,
.singleCardNew {
    padding-left: 10%;
    padding-right: 10px;
}

.scroll-to-top {
    bottom: 3px;
    right: 25px;
    height: 40px;
    width: 40px;

    border: none;
    background-color: white;
    border-radius: 50%;
    color: blue;
    cursor: pointer;
    display: none;
    font-size: 14px;
    position:absolute;
    z-index: 10;
}

.widget {
    display: none;
    width: 630px;
    min-width: 30%;
    max-width: 90%;
    right: 15px;
    height: 630px;
    min-height: 20%;
    max-height: 90%;
    bottom: 5%;
    position: fixed;
    background: rgb(0, 189, 242);
    border-radius: 10px 10px 10px 10px;
}

.widget.expanded {
    width: 90%!important;
    margin: 0px auto;
    left: 0 !important;
    right: 0 !important;
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, .5);

    min-width: 330px;
    min-height: 95%;
    bottom: 10px!important;
    top: auto!important;
}

.widget .core-chat-footer {
    position: absolute;
    bottom: 5px;
    width: 100%;
    min-height: 38px;
    padding: 5px 20px;
}

.widget .pos-relative {
    position: relative !important;
}

.widget .core-chat-footer .chatInputBox {
    width: 100%;
    padding: 6px;
    outline: none;
    display: block;
    font-size: 16px;
    cursor: text;
    margin-bottom: 16px;
    max-height: 70px;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: "Lato", sans-serif;
    border-radius: 4px;
    background: #fff;
}

.widget [contenteditable=true]:empty:before {
    content: attr(placeholder);
    display: block;
    color: #D0D0D0;
}

#ui-widget {
    border: 0;
    display: none;
    width: 100% !important;
}

.userMessage {
    animation: animateElement linear 0.2s;
    animation-iteration-count: 1;
    margin-top: 5px;
    word-wrap: break-word;
    padding: 10px;
    float: right;
    margin-right: 0.5em;
    background: white;
    color: #00a9e8;
    margin-bottom: 0.15em;
    font-size: 15px;
    max-width: 65%;
    min-width: 15%;
    border-radius: 20px 5px 20px 20px;
}

.userAvatar {
    animation: animateElement linear 0.3s;
    animation-iteration-count: 1;

    border-radius: 25%;
    width: 2.5em;
    height: 2.5em;
    float: right;
    margin-left: 5px;
    background-color: white;
}