{% extends 'base.html' %}

{% block content %}
<section>
    <article>
        <h1>All reservations</h1>
        {% if bookings %}
            <table>
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Guests Count</th>
                        <th>Reservation Date</th>
                        <th>Reservation Time</th>
                        <th>Comments</th>
                    </tr>
                </thead>
                {% for item in bookings %}
                    <tr>
                        <td>{{item.first_name}}</td>
                        <td>{{item.last_name}}</td>
                        <td>{{item.guest_count}}</td>
                        <td>{{item.reservation_date}}</td>
                        <td>{{item.reservation_time}}</td>
                        <td>{{item.comments}}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p> No items to display !</p>
        {% endif %}
    </article>
</section>

{% endblock %}