{% extends 'base.html' %}

{% load static %}

{% block content %}

<section>
    <article>
        <h1>Make a reservation</h1>
        <!--Begin row-->
        <div class="row">
            <!--Begin col-->
            <div class="column">
                <form id="form" method="post">
                    {% csrf_token %}
                    <!-- {{form.as_p}} -->
                    <p>
                        <label for="id_first_name">First name:</label>
                        <input type="text" name="first_name" maxlength="200" required id="id_first_name">
                    </p>
                    <p>
                        <label for="id_last_name">Last name:</label>
                        <input type="text" name="last_name" maxlength="200" required id="id_last_name">
                    </p>

                    <p>
                        <label for="id_reservation_date">Reservation date:</label>
                        <input type="date" name="reservation_date" value="{{reservation_date}}" min="{{start_date}}" max="{{end_date}}" required id="id_reservation_date" onchange="reloadPageForDifferentDate()"/>
                    </p>
                    <p>
                        <label for="id_reservation_time">Reservation time:</label>
                        <select name="reservation_time" required aria-invalid="true" id="id_reservation_time">
                            <option value="" selected>---------</option>
                            {% for time_slot, status in time_slots.items %}
                            <option value="{{time_slot}}" {{status}}>{{time_slot}}</option>
                            {% endfor %}
                        </select>
                    </p>
                    <p>
                        <label for="id_guest_count">Guest count:</label>
                        <div class="row">
                            <input type="number" name="guest_count" value="{{default_guests}}" min="{{min_guests}}" max="{{max_guests}}" required id="id_guest_count" onclick="disableSubmitButtonIfGuestCountIsZero()">
                        </div>
                    </p>
                    <p>
                        <label for="id_comments">Comments:</label>
                        <input type="text" name="comments" maxlength="100" required id="id_comments">
                    </p>
                    <input id="id_submit_form" type="submit">
                    <p id="id_text_warning" class="warning">
                        No reservations available on today! <br/>Please try another date!
                    </p>
                </form>
            </div>
            <!--End col-->

            <!--Begin col-->
            <div class="column">
                <div class="videowrap">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11898.289517452584!2d-87.60853049433447!3d41.79442860243028!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2912ce6f7027%3A0xc0cfb5545d4a37b2!2sHyde%20Park%2C%20Chicago%2C%20IL%2C%20USA!5e0!3m2!1sen!2spt!4v1662384760663!5m2!1sen!2spt"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <!--End col-->
        </div>
        <!--End row-->
    </article>
</section>

<!-- should be located after the above section -->
<script>
    // executes when page is loaded
    disableSubmitButtonIfGuestCountIsZero();
    checkBookingSlots();

    const form = document.getElementById('form');
    form.addEventListener("submit", submitHandler);

    function submitHandler(e) {
        e.preventDefault();
        // show success to a user and reset the form
        fetch(form.action, {method: 'POST', body: new FormData(form)})
            .then(response => response.json())
            .then(data => {
                if (data.message.startsWith('Success')) {
                    alert(data.message);
                    // reset the page to reload available spaces
                    location.reload(true);
                } else {
                    // show fail messages
                    alert(data.message);
                }
            });
    }

    function disableSubmitButtonIfGuestCountIsZero() {
        let guests = document.getElementById('id_guest_count').value;
        if (guests == 0){
            document.getElementById("id_submit_form").disabled = true;
            document.getElementById("id_text_warning").hidden = false;
        } else {
            document.getElementById("id_submit_form").disabled = false;
            document.getElementById("id_text_warning").hidden = true;
        }
    }

    function reloadPageForDifferentDate() {
        var reservationDate = document.getElementById('id_reservation_date').value;
        console.log(reservationDate);

        let url = window.location.href;
        if (url.indexOf('?') == -1) {
            // if url parameters are empty
            url += '?date=' + reservationDate;
        } else {
            // if url parameter 'date' is empty
            if (url.indexOf('date') == -1) {
                url += '&date=' + reservationDate;
            } else {
                // replace existing url parameter 'date'
                var href = new URL(url);
                href.searchParams.set('date', reservationDate);
                url = href;
            }
        }
        window.location.href = url;
    }

    function checkBookingSlots() {
        let time_slots = document.getElementById('id_reservation_time'), time_slot, i;
        let isEnabled = false;
        for (i = 0; i < time_slots.length; i++) {
            time_slot = time_slots[i];
            if (time_slot.enabled) {
                isEnabled = true;
            }
        }
        if (!isEnabled) {
            document.getElementById("id_text_warning").hidden = false;
        }
    }
</script>
{% endblock %}