{% extends 'base.html' %}

{% load static %}

{% block content %}
<section>
    <article>
        <h1 style="text-align: center;">{{item.name}}</h1>

        <div class="container">
            <div class="left-box">
                <div class="left-upper">
                    <h2>{{item.name}}</h2>
                    <p>{{item.cuisine}}</p>
                    <p>${{item.price}}</p>
                </div>
                <div class="left-bottom">
                    <h3>Description</h3>
                    <p>{{item.desc}}</p>
                </div>
            </div>
            <div class="right-box">
                <img src="{% static item.static_image_path %}" title="{{item.image_text}}">
            </div>
        </div>

    </article>
</section>
{% endblock %}
